/* Layout centering and styling */
:root {
  /* Primary Colors */
  --main-color: rgb(1, 196, 192);
  --secondary-color: rgb(11,195,206);
  --tertiary-color: rgb(47, 225, 203);
  --bg-color: rgb(1, 135, 144);
  --contrast:rgb(255,211,88)

  /* Highlight Colors */
  --highlight-color: rgb(89, 232, 228);

  /* Button Styles */
  --button-bg-color: rgb(255, 178, 10);
  --button-font-color: rgb(253, 248, 184);
  --button-hover: rgb(84, 25, 118);
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
  width: 25rem;
  background-color: var(--secondary-color);
  color: var(--contrast);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  border: 3px solid var(--bg-color);
  box-shadow: 0 4px 8px var(--secondary-color);
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}

/* Character container */
.character {
  position: relative;
  height: 15rem;
  width: 15rem;
  background-color: var(--secondary-color );
  border-radius: 50%; /* Perfect circle */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tentacle styling */
.tentacle {
  position: absolute;
  width: 45%;
  height: 45%;
  background-image: url("/Img/Login/tentacle.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: top center;
  transition: 0.5s;
  top: 80px;
}

.tentacle-left {
  left: -10px;
  transform: rotate(0deg);
}

.tentacle-right {
  right: -10px;
  transform: rotate(0deg) scaleX(-1);
}

/* Tentacle state for left and right */
.tentacle-state-cover-left {
  left: 70px;
  transform: rotate(65deg);
}

.tentacle-state-cover-right {
  right: 70px;
  transform: rotate(-65deg) scaleX(-1);
}

.tentacle-state-half-cover-left {
  top: 65px;
  left: 30px;
  transform: rotate(30deg);
}

.tentacle-state-half-cover-right {
  top:65px;
  right: 30px;
  transform: rotate(-30deg) scaleX(-1);
}

/* Eye and pupil containers */
.eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.eyes-browns {
  position: absolute;
  width: 10%;
  height: 10%;
  background-image: url("/Img/Login/eyeBrown.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: top center;
  top: 75px;
}

.eyes-browns-right-weak {
  top: 85px;
  right: 85px;
  transform: rotate(45deg) scaleX(-1) scaleY(-1);
}
.eyes-browns-left-weak {
  top: 85px;
  left: 85px;
  transform: rotate(-45deg) scaleY(-1);
}

.eyes-browns-right-medium {
  right: 85px;
  transform: scaleX(-1);
}
.eyes-browns-left-medium {
  left: 85px;
}

.eyes-browns-right-strong {
  top: 70px;
  right: 85px;
  transform: scaleX(-1);
}
.eyes-browns-left-strong {
  top: 70px;
  left: 85px;
}

.pupil {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: left 1s, top 1s;
}

.mouth {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.character img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Form container */
.form-container {
  width: 100%;
}

/* Form Input Styles */
.input-group input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 2px solid #00c6c6;
  background-color: var(--bg-color);
  font-size: 1.1rem;
  color: var(--tertiary-color);
  outline: none;
  font-family: "Poppins", sans-serif;
}

.input-group input::placeholder {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-color); /* Adjusted color to match the design */
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  opacity: 0.7;
}

.input-group input:focus {
  border-color: var(--tertiary-color);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 10px;
  padding: 0.5rem 1rem;
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  border: 1px solid rgb(255, 212, 81);
  border-radius: 5px;
  box-shadow: 2px 2px 8px var(--tertiary-color);
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #ffa022;
  transform: translateY(-3px);
}
